/* 頁頭 */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    }
.header {
    background-color: #8f5b4c;
    display: flex;
    width: 100%;
    gap: 16px;
    font-weight: 600;
    padding-inline-start: 5%;
    padding-inline-end: 3%;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center; 
}

.logo a,
.logo-font a {
    color: #171a1f;
    flex-grow: 1;
    margin: auto 0;
    font-family:Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.logo a:hover,
.logo-font a:hover {
    text-decoration: none; /* 在滑鼠懸停時保持沒有底線 */
}

.nav {
    justify-content: center;
    display: flex;
    gap: 0;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    line-height: 162.5%;
    text-decoration: none;
}

.nav-item {
    justify-content: center;
    display: flex;
    gap: 8px;
    line-height: 5%;
    padding: 25px 12px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    position: relative;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    top: 77%;
    left: 0;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style-type: none;
}

.dropdown-menu li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #ffde99; /* 滑鼠懸停時背景顏色 */
}

.active-nav-item {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #ffde99;
    align-items: center; 
}


.active-nav-link {
    font-family: Inter, sans-serif;
}

.active-nav-underline {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 80%; 
    height: 2px;
    background-color: #ffde99;
    
}

.nav-credit-card {
    font-family: Inter, sans-serif;
    justify-content: center;
    padding: 30px 8px;
    font-size: 18px;
}
    

  /* 標題&標籤 */

.section-newstitle {
    color: #727272;
    font: 25px/100% Epilogue, sans-serif;
    margin: 0 30px;
    /* display: flex; */
    background-color: #ffffff; 
    text-align: center;
    flex-direction: column;
    padding: 0px;
    margin-top: 100px;
    width: 100%;
}

.search-bar {
    margin-bottom: 10px;
    padding: 10px;
}

.search-bar input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/*  main 主要內容區樣式 */
main {
max-width: 960px;
margin: 0 auto;
padding: 20px;
}

section {
margin-bottom: 40px;
}

/* 新聞區塊樣式 */
.news-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.news-item {
width: 30%;
margin-bottom: 20px;
text-align: center;
}

.news-item img {
max-width: 100%;
height: auto;
}

/* 書籍區塊樣式 */
.book-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.book-item {
width: 30%;
margin-bottom: 20px;
text-align: center;
}

.book-item img {
max-width: 100%;
height: auto;
}

.book-item h3 a {
color: #333;
text-decoration: none;
}

.book-item h3 a:hover {
text-decoration: underline;
}

/* 頁尾樣式 */
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}



/* 頁碼 */
.pagination a {
    color: #8f5b4c;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #794536;
    margin: 0 4px;
    align-items: center;
}

.pagination a:hover {
    background-color: #8f5b4c;
    color: #fff;
}




/* 頁尾 */


.container-footer {
    background-color: #8f5b4c;
    display: flex;
    width: 100%;
    gap: 16px;
    /* font-weight: 600; */
    padding-inline-start: 5%;
    padding-inline-end: 3%;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center;
}

.container-footer {
    color: rgb(255, 255, 255);
    text-decoration: none;
}



    
    
    
