/* 頁頭 */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  }
.header {
    background-color: #8f5b4c;
    display: flex;
    width: 100%;
    gap: 16px;
    font-weight: 600;
    padding-inline-start: 5%;
    padding-inline-end: 3%;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center; 
  }

.logo a,
.logo-font a {
  color: #171a1f;
  flex-grow: 1;
  margin: auto 0;
  font-family:Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.logo a:hover,
.logo-font a:hover {
  text-decoration: none; /* 在滑鼠懸停時保持沒有底線 */
}

.nav {
  justify-content: center;
  display: flex;
  gap: 0;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  line-height: 162.5%;
  text-decoration: none;
}

.nav-item {
  justify-content: center;
  display: flex;
  gap: 8px;
  line-height: 5%;
  padding: 25px 12px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  position: relative;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  top: 77%;
  left: 0;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #ffde99; /* 滑鼠懸停時背景顏色 */
}

.active-nav-item {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #ffde99;
  align-items: center; 
}


.active-nav-link {
  font-family: Inter, sans-serif;
}

.active-nav-underline {
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 80%; 
  height: 2px;
  background-color: #ffde99;
  
}

.nav-credit-card {
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 30px 8px;
  font-size: 18px;
}

/* 標題 */

.popular-credit-cards {
  display: flex;
  flex-direction: column;
  padding: 0 0px;
  margin-top: 146px;
  width: 100%;
  align-items: center
}

.section-title {
  color: #727272;
  font: 700 64px/131% Epilogue, sans-serif;
  margin: 0 30px;
}

/* 圖片 & 下拉選單  */
.content-wrapper {
  display: flex; 
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
  flex-direction: row; 
}

.row-reverse {
  flex-direction: row-reverse;
}

.card {
  margin: 10px; 
}

.card-image {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc( 80% - 20px); 
  margin-bottom: 0px; 
}

.card-title {
  color: #565e6c;
  text-transform: uppercase;
  margin-top: 5px;
  font: 600 32px/48px Epilogue, sans-serif;
}

.card-select {
  width: 270px; /* 設定下拉選單的寬度 */
  height: 40px; 
  font-size: 16px;
  margin-left: auto;
  padding: 5px 10px;
}


.dropdown-container {
    justify-content: flex-end; 
}


.dropdown-text {
  font-family: Inter, sans-serif;
}

/* .decorative-icon {
  width: 65px;
  background-color: #f3f4f6;
  border-radius: 50%;
  height: 60px;
  margin: auto 0;
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  color: #8f5b4c;
  border: none;

  transition: all 0.3s ease;
}

.decorative-icon:hover {
  background-color: #8f5b4c;
  color: #f3f4f6;
} */





/* 表格 */

table {
width: 85%;
margin: 0 auto;
border-collapse: collapse;
border: 2px solid #795548 
}
th, td {
border-bottom: 1px solid #795548;
border-right: 1px solid #795548
}
th {
color: #fff;
background-color: #9A8C8B;
font: 700 20px/131% Epilogue, sans-serif
}
td {
font:  18px/110% Arial, sans-serif;
} 
tr:hover {
background-color: #f5f5f5;
}
#comparison-table {
  table-layout: fixed;
  width: 90%; 
  max-height: 300px; 
  overflow-y: auto; 
}

#comparison-table th,
#comparison-table td {
  padding: 14px;
  text-align: center; 
}

#comparison-table th:first-child,
#comparison-table td:first-child {
  width: 12%; /* 第一列的寬度 */
}

#comparison-table th:nth-child(2),
#comparison-table td:nth-child(2),
#comparison-table th:nth-child(3),
#comparison-table td:nth-child(3),
#comparison-table th:nth-child(4),
#comparison-table td:nth-child(4) {
  width: 30%; /* 第二、三、四列的寬度*/
}