<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='image/icon/Croissant1.png') }}">
    <title>卡卡頌 CardCardSone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body>

    <div class="header-container">
        <header class="header">
          <div class="logo">
            <img src="{{ url_for('static', filename='image/icon/Croissant1.png') }}" alt="icon" width="50" height="50">
            <a href="/">卡卡頌 CardCardSone</a>
          </div>
          <nav>
            <ul class="nav">
              <li class="nav-item"><a href="/guide" class="nav-link">小白指南</a></li>
              <li class="nav-item">
                <a href="#" class="nav-link">卡片介紹▾</a>
                <ul class="dropdown-menu">
                  <li><a href="/PopularCreditCards">熱門信用卡</a></li>
                  <li><a href="/PopularDebitCards">熱門金融卡</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">卡片比較▾</a>
                <ul class="dropdown-menu">
                  <li><a href="/comparison">信用卡比較</a></li>
                  <li><a href="#">金融卡比較</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="/news" class="nav-link">最新消息</a>
                <li class="nav-item">
                  <a href="#" class="active-nav-item nav-link">關於我們▾</a>
                  <ul class="dropdown-menu">
                    <li><a href="/contact">意見信箱</a></li>
                  </ul>
                <div class="active-nav-underline"></div></li> 
                </li>
            </ul>
          </nav>
        </header>
      </div>

    <section class="section-mailtitle">
        <h2>意見信箱</h2>  
        

    </section>

    <section class="section-mail">
        <!-- <p>mailmailmail</p> -->
        
    </section>
<br>
    <div class="container">
        <h3>歡迎留下您寶貴的意見：</h3>
        <form id="feedbackForm">
            <label class=label for="name" >姓名：</label>
            <input class=input type="text" id="name" name="name" required><br>
            <label class=label for="email">電子郵件：</label>
            <input class=input type="email" id="email" name="email" required><br>
            <label class=label for="message">意見：</label><br>
            <textarea class=textarea id="message" name="message" rows="4" required></textarea><br>
            <button class=button type="submit"  >提交</button>
        </form>
        <div id="response"></div>
    </div>

<br>
    <hr class="hr1">  <!--分隔線 -->
        
    <article class="container contact center">
        <!-- <h2>聯絡資訊</h2> -->
            <div class="contact-info">
            <h3>聯絡資訊</h3>
            <p>地址：台北市和平東路一段155號三樓</p>
            <p>電話：(02) 1234-5678 ／ 傳真：(02) 1234-5679</p>
            <p>電子郵件：<a href="cardcardsone@gmail.com" style="color:#66a1e4;">cardcardsone@gmail.com</a></p>
        </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.2196665937113!2d121.53114180000001!3d25.0266183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a984299be84d%3A0x548dd76d8f031c04!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5ZKM5bmz5p2x6Lev5LiA5q61MTU16Jmf5LiJ!5e0!3m2!1szh-TW!2stw!4v1714894577817!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
<br>
    
    <footer class="container-footer">


    <p>© 2024 卡卡頌 | <a href="#" style="color:#ffde99;">隱私政策</a> | <a href="#" style="color:#ffde99;">使用條款</a></p>
    <p>地址：台北市和平東路一段155號三樓</p> 
    <p>電話：(02) 1234-5678</p>
    <p>電子郵件：<a href="cardcardsone@gmail.com" style="color:#ffde99;">cardcardsone@gmail.com</p>

    </footer>

    </body>
    
    </html>
    
    
