<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='image/icon/Croissant1.png') }}">
    <title>卡卡頌 CardCardSone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CardsDescription.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body onload="processUrlParams()">

  <button class="back-to-top" onclick="scrollToTop()"> <b>↑</b> </button>

  <div id="loading-screen">
    <div id="loading-spinner"></div>
  </div>

  {% include 'header.html' %}

  <div id="cards-container" class="container hidden">
    <div class="row">
      <div id="comparison-body" class="col-12"></div>
    </div>
  </div>



  {% include 'footer-hidden.html' %}
  
  <script src="{{ url_for('static', filename='js/DebitDescription.js') }}"></script>
</body>

</html>

