<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
            <img src="{{ url_for('static', filename='image/icon/Croissant1.png') }}" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
            卡卡頌 CardCardSone
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/guide">小白指南</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    卡片介紹▾
                </a>
                <ul class="nav-item dropdown-menu">
                    <li><a class="dropdown-item" href="/PopularCreditCards">熱門信用卡</a></li>
                    <li><a class="dropdown-item" href="/PopularDebitCards">熱門金融卡</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    卡片比較▾
                </a>
                    <ul class="nav-item dropdown-menu">
                    <li><a class="dropdown-item" href="/CreditComparison">信用卡比較</a></li>
                    <li><a class="dropdown-item" href="/DebitComparison">金融卡比較</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/recommend" class="nav-link">智能推薦</a></li>
                <li class="nav-item"><a href="/news" class="nav-link">最新消息</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">關於我們</a></li>
            </ul>
            </div>
        </div>
    </nav>
</header>