<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信用卡/金融卡推薦系統</title>
</head>
<body>
    <h1>信用卡/金融卡推薦系統</h1>
    <form action="/" method="POST">
        <!-- 第一題只有三個選項，使用單選框 -->
        <p>1. 您是否對申辦卡片有特定的卡別偏好？</p>
        <span class="inline-flex items-center">
             <input type="radio" id="q0_1" name="q0" value="1" class="form-radio h-5 w-5 text-blue-600">
             <label for="q0_1" class="ml-2">信用卡</label>
        </span>
        <span class="inline-flex items-center">
             <input type="radio" id="q0_2" name="q0" value="2" class="form-radio h-5 w-5 text-blue-600">
             <label for="q0_2" class="ml-2">無特定偏好</label>
        </span>
        <span class="inline-flex items-center">
             <input type="radio" id="q0_3" name="q0" value="3" class="form-radio h-5 w-5 text-blue-600">
             <label for="q0_3" class="ml-2">金融卡</label>
        </span><br>

        <!-- 其他問題使用單選框 -->
        {% for question in questions[1:] %}
        <p>{{ question }}</p>
        <span class="inline-flex items-center">
             <input type="radio" id="q{{ loop.index }}_1" name="q{{ loop.index }}" value="1" class="form-radio h-5 w-5 text-blue-600">
             <label for="q{{ loop.index }}_1" class="ml-2">非常不重要</label>
        </span>
        <span class="inline-flex items-center">
             <input type="radio" id="q{{ loop.index }}_2" name="q{{ loop.index }}" value="2" class="form-radio h-5 w-5 text-blue-600">
             <label for="q{{ loop.index }}_2" class="ml-2">不重要</label>
        </span>
        <span class="inline-flex items-center">
             <input type="radio" id="q{{ loop.index }}_3" name="q{{ loop.index }}" value="3" class="form-radio h-5 w-5 text-blue-600">
             <label for="q{{ loop.index }}_3" class="ml-2">普通</label>
        </span>
        <span class="inline-flex items-center">
             <input type="radio" id="q{{ loop.index }}_4" name="q{{ loop.index }}" value="4" class="form-radio h-5 w-5 text-blue-600">
             <label for="q{{ loop.index }}_4" class="ml-2">重要</label>
        </span>
        <span class="inline-flex items-center">
             <input type="radio" id="q{{ loop.index }}_5" name="q{{ loop.index }}" value="5" class="form-radio h-5 w-5 text-blue-600">
             <label for="q{{ loop.index }}_5" class="ml-2">非常重要</label>
        </span><br>
        {% endfor %}
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>
