// 導入Bootstrap的SCSS文件
@import 'bootstrap';

// 自定義變量和樣式
$primary: #ff5733; // 修改主颜色
$body-bg: #f8f9fa; // 修改背景颜色
$light: #abcdef; // 

// 覆盖Bootstrap的样式
.navbar {
    background-color: $primary;
}

.card {
    background-color: transparent; // 去掉背景顏色
    border: none;                 // 去掉邊框
    box-shadow: none;             // 去掉陰影
}

// header logo樣式
.navbar-brand {
    display: flex;
    align-items: center; // 水平排列，并使内容垂直居中
    padding-top: var(--#{$prefix}navbar-brand-padding-y);
    padding-bottom: var(--#{$prefix}navbar-brand-padding-y);
    margin-right: var(--#{$prefix}navbar-brand-margin-end);
    @include font-size(var(--#{$prefix}navbar-brand-font-size));
    color: #ffffff !important;
    font-weight: bold !important; 
    text-decoration: if($link-decoration == none, null, none);
    white-space: nowrap;
    transition: background-color 0.5s ease, color 0.5s ease;

    img {
      max-height: 40px; // 根據需要調整圖像的最大高度
      margin-right: 10px; // 圖片與文字之間的間距
    }

    &:hover,
    &:focus {
        color: #8f5b4c !important; 
        background-color: #ffde99;
    }
}

// 覆盖Bootstrap的CSS变量
:root {
    --bs-light-rgb: 216, 178, 145;
    --bs-bg-opacity: 1;
}

// 修改 .navbar-collapse 樣式
.navbar-collapse {
    flex-basis: auto;
    justify-content: flex-end; 
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        flex-basis: auto;
        justify-content: flex-end;

    }
}

@media (max-width: 991.98px) {
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        left: 0; // 確保下拉菜單在左側對齊
        right: auto; // 確保下拉菜單在左側對齊
    }
    .navbar-nav .dropdown-menu.show {
        display: block;
        margin-top: 0; // 確保下拉菜單直接在導航項下方展開    }
}


/* 調整下拉式選單在行動裝置上的位置 */
@media (max-width: 576px) {
    .dropdown-menu {
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
        margin-top: 0.5rem;
    }
    .dropdown-item {
        text-align: left; /* 確保下拉式選單項目左對齊 */
    }
}

/* 修改下拉式選單項目 hover 和 active 狀態的背景顏色 */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
    background-color: #ffde99;
    color: #000; 
}
