/* 標題 */
  
  .popular-credit-cards {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
    width: 100%;
    align-items: center
  }
  
  .section-title {
    color: #727272;
    font: 700 55px/131% Epilogue, sans-serif;
    margin: 0 30px;
    padding-top: 1em;
  }
  
  @media (max-width: 768px) {
    .section-title {
      font: 700 33px/131% Epilogue, sans-serif !important;
    }
  }
  
  /* 圖片 */
  .content-wrapper {
    display: flex; 
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
      flex-direction: row; 
  }
  
  .row-reverse {
    flex-direction: row-reverse;
  }
  
  .card {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-image {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc( 70% - 20px); 
    margin-bottom: 0px;
    border-radius: 13px;
  }

  @media (max-width: 768px) {
    .card-image {
      width: calc( 60% - 20px); 
    }
  }
  
  .card-title {
    color: #565e6c;
    text-transform: uppercase;
    margin-top: 5px;
    font: 600 28px/48px Epilogue, sans-serif;
  }

    
  .decorative-button {
    width: 142px;
    background-color: #f8dbb9;
    border-radius: 17px;
    border: 2px solid #f8dbb9;
    height: 41px;
    font-size: 22px;
    color: #a8795f;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 0px 3px;
    margin: 0 auto 12px auto; /* 改為 center 置中 */
    text-align: center;
    display: block; /* 改為 block 置中 */
    text-decoration: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .decorative-button:hover {
    background-color: #a8795f;
    border: 2px solid #a8795f;
    color: #ffffff;
  }
  
  
  /* 表格 */
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #795548 !important;
    max-width: 100%; 
    width: 120% !important;
  }
  th, td {
    border-bottom: 1px solid #795548 !important;
    border-right: 1px solid #795548 !important;
  }
  th {
    color: #fff !important;
    background-color: #a8795fc4 !important;
    font: 700 18px/131% Epilogue, sans-serif !important;
  }
  td {
    font:  16px/130% Arial, sans-serif;
    line-height: 1.5;
    background-color: #ffffffba;

  } 

  td.introduction {
    text-align: left !important;
    font:  16px/130% Arial, sans-serif;
    line-height: 1.5;
  }

  td:hover {
    background-color: #ffffffba;
  } 

  tr:hover {
    background-color: rgb(224, 207, 203)
  }
  
  #comparison-table th,
  #comparison-table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  #comparison-table th:nth-child(2) { 
    width: 20%;
  }

  #comparison-table th:nth-child(3) { 
    width: 20%;
  }
  #comparison-table th:nth-child(4) { 
    width: 40%;
  }
  #comparison-table th:nth-child(5) { 
    width: 12%;
  }
  #comparison-table td:nth-child(1) { 
    font-size:20px;
  }
  
  .card-icon {
    flex-direction: column;
    line-height: normal;
    width: calc(60%);
    margin-bottom: 0px;
  }

  .select-button {
    background-color: #a8795f;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 0.25rem;
    width: 100%; /* 使按钮在移动设备上占满整个单元格宽度 */
    box-sizing: border-box; /* 确保内边距和边框包含在宽度内 */
  }
  
  .select-button:hover {  
    background-color: #f8dbb9;
    color: #a8795f;
    font-weight: bold;
  }
  
  .select-checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transform: scale(1.5);
}

/* 加入Media Queries來控制橫屏時的表格顯示 */

@media screen and (max-width: 767px) {
  #comparison-table thead {
      display: none;
  }
  
  #comparison-table tbody, #comparison-table tr, #comparison-table td {
      display: block;
      width: 100%;
  }
  
  #comparison-table tr {
      margin-bottom: 1rem;
  }
  
  #comparison-table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }
  
  #comparison-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 1rem;
      font-weight: bold;
      text-align: left;
  }
}