/* 頁頭 */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  }
.header {
    background-color: #8f5b4c;
    display: flex;
    width: 100%;
    gap: 16px;
    font-weight: 600;
    padding-inline-start: 5%;
    padding-inline-end: 3%;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center; 
  }

.logo a,
.logo-font a {
  color: #171a1f;
  flex-grow: 1;
  margin: auto 0;
  font-family:Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.logo a:hover,
.logo-font a:hover {
  text-decoration: none; /* 在滑鼠懸停時保持沒有底線 */
}

.nav {
  justify-content: center;
  display: flex;
  gap: 0;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  line-height: 162.5%;
  text-decoration: none;
}

.nav-item {
  justify-content: center;
  display: flex;
  gap: 8px;
  line-height: 5%;
  padding: 25px 12px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  position: relative;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  top: 77%;
  left: 0;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #ffde99; /* 滑鼠懸停時背景顏色 */
}

.active-nav-item {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #ffde99;
  align-items: center; 
}


.active-nav-link {
  font-family: Inter, sans-serif;
}

.active-nav-underline {
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 80%; 
  height: 2px;
  background-color: #ffde99;
  
}

.nav-credit-card {
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 30px 8px;
  font-size: 18px;
}
  

/* 標題&標籤 */

.section-title {
  color: #727272;
  font: 25px/100% Epilogue, sans-serif;
  margin: 0 30px;
  display: flex;
  background-color: #ffffff; 
  text-align: center;
  flex-direction: column;
  padding: 0px;
  margin-top: 100px;
  width: 100%;
  
}

.section-description {
  display: flex;
  background-color: #ffffff; 
  text-align: center;
  flex-direction: column;
  padding: 0px;
  /* margin-top: 100px; */
  width: 100%;
  
}

/* 首頁滾動條 */
.articles {
  margin-top: 0px;
  text-align: center;
  display: block;
  background-color: rgb(250, 245, 250); 
  text-align: center;
  flex-direction: column;
  /* padding: 0px; */
  padding: 0 20px 20px 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.article-nav {
  margin-bottom: 10px;
  display: flex;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
  align-items: center;
}

.active, .dot:hover {
  /* display: block; */
  background-color: #63969a;
  /* background-size: 100%; */
  /* background-positon: 40% 100%; */
  text-align: center;
}

.article-container1 {
  position: flex;
  background-size: 40% 100%;
  background-color: #b8b0e8;
}

.article-img1 {
  position: flex;
  background-size: 40% 100%;
  height: auto;
  width: 100%;   
  height: 100%;   
  object-fit:cover;
}

.article-container2 {
  position: flex;
  background-size: 40% 100%;
}

.article-img2 {
  position: flex;
  background-size: 40% 100%;
  height: auto;
  width: 100%;   
  height: 100%;   
  object-fit:cover;
}

.article-container3 {
  position: flex;
  background-size: 40% 100%;
}

.article-img3 {
  position: flex;
  background-size: 40% 100%;
  height: auto;
  width: 100%;   
  height: 100%;   
  object-fit:cover;

}


article {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

article.active {
  display: block;
}

article img {
    /* max-width: 100%; */
    /* height: auto;
    width: 100%;   
    height: 100%;   
    object-fit:cover; */
}


/* web1 */
.web1-container {
  background-image: url('background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 -8px -8px -8px; /* 左右負邊距彌補 body 預設的外邊距，下方負邊距使底部貼邊 */

}

.web1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(228, 240, 200);
}

.web1-text-section {
  flex: 1;
  padding-right: 20px;
  padding: 20px;
  /* text-align: center; */
}

.web1-image-section {
  flex: 1;
  text-align: right;
}

.web1-image-section img {
  max-width: 100%;
  height: auto;
}

/* 響應式設計 */
/* @media (max-width: 768px) {
  .web1-content {
      flex-direction: column;
      text-align: center;
  }

  .web1-text-section {
      padding-right: 0;
      margin-bottom: 20px;
  }

  .web1-image-section {
      text-align: center;
  }
} */

/* Web2 */
.web2-container {
  background-image: url('background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 -8px -8px -8px; /* 左右負邊距彌補 body 預設的外邊距，下方負邊距使底部貼邊 */

}


.web2-content {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(173, 217, 230);
}

.web2-text-section {
  flex: 1;
  padding-right: 20px;
  padding: 20px;
  /* text-align: center; */
}

.web2-image-section {
  flex: 1;
  text-align: right;
}

.web2-image-section img {
  max-width: 100%;
  height: auto;
}

/* 響應式設計 */
/* @media (max-width: 768px) {
  .web2-content {
      flex-direction: column;
      text-align: center;
  }

  .web2-text-section {
      padding-right: 0;
      margin-bottom: 20px;
  }

  .web2-image-section {
      text-align: center;
  }
} */


/* web3 */
.web3-container {
  background-image: url('background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 -8px -8px -8px; /* 左右負邊距彌補 body 預設的外邊距，下方負邊距使底部貼邊 */

}

.web3-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(172, 232, 197);
}

.web3-text-section {
  flex: 1;
  padding-right: 20px;
  padding: 20px;
  /* text-align: center; */
}

.web3-image-section {
  flex: 1;
  text-align: right;
}

.web3-image-section img {
  max-width: 100%;
  height: auto;
}

/* 響應式設計 */
/* @media (max-width: 768px) {
  .web3-content {
      flex-direction: column;
      text-align: center;
  }

  .web3-text-section {
      padding-right: 0;
      margin-bottom: 20px;
  }

  .web3-image-section {
      text-align: center;
  }
} */


/* 頁尾 */
.container-footer {
  width: calc(100% + 16px); /* 調整寬度，彌補左右各 8px 的外邊距 */
  margin: 0 -8px -8px -8px; /* 左右負邊距彌補 body 預設的外邊距，下方負邊距使底部貼邊 */
  margin-top: 47px;
  background: #1e130c;
  background: -webkit-linear-gradient(to left, #9a8478, #1e130c);
  background: linear-gradient(to left, #9a8478, #1e130c); 
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3%; /* 保留內邊距 */
  box-sizing: border-box;
}