.logo a,
.logo-font a {
    color: #654327 !important;
}

body {
    font-family: Arial, sans-serif;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 5px;
}

.carousel {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none; /* Hide all slides by default */
}

.carousel-item.active {
    display: block; /* Display the active slide */
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
    display: block;
    margin: auto;
    padding-top: 50px;
    /* border-radius: 10px; */
}

.carousel-caption {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    cursor: pointer;
    user-select: none;
    border: none;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.article-nav {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.article-nav .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.article-nav .dot.active {
    background-color: #717171;
}


/* 標題&標籤 */
.section-title {
  color: #727272;
  font: 25px/100% Epilogue, sans-serif;
  display: flex;
  background-color: #fbf3ea; 
  text-align: center;
  flex-direction: column;
  padding: 0px;
  margin-top: 50px;
  width: 100%;
  
}

.section-description {
  display: flex;
  background-color: #fbf3ea; 
  text-align: left;
  line-height: 2;
  font-size: 19px;
  font-family: sans-serif;
  flex-direction: column;
  text-align: justify;
  /* margin-top: 100px; */
  /* width: 100%; */
  padding: 180px;
  padding-top: 0px;
  padding-left: 150px;
  padding-bottom: 10px;
  /* background-image: radial-gradient(circle, #ffffff 15%, transparent 15%); */
  /* 調整斑點的大小和間距 */
  background-size: 100px 100px;
}


/* 首頁內文 */
.web-container {
  width: 100%;
  background-color: #fbf3ea;
  justify-content: center;
  display: flex;
  /* background-image: radial-gradient(circle, #ffffff 15%, transparent 15%); */
  background-size: 40px 40px; 
  background-position: center top;
}

.web-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.web-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
  
}

.web-text-section {
  flex: 1;
  /* text-align: center;  */
}

.web-text-section h2 {
  color: #333; /* 標題顏色 */
  font-size: 35px; /* 標題字體大小 */
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
}

.web-text-section p {
  color: #666; /* 文字顏色 */
  font-size: 20px; /* 文字字體大小 */
  text-align: left;
  padding: 40px;
  padding-top: 0px;
}

.web-text-section a {
  text-decoration: none;
  color: var(--fg-color);
  cursor: pointer;
}

.web-text-section a:hover {
  text-decoration: none !important; /* 滑鼠懸停時移除底線 */
  color:#619897f0;
}

.web-image-section {
  flex: 1;
  padding: 20px;
  order: 1;
}

.web-block:nth-child(even) .web-text-section {
  order: 2;
}

.web-block:nth-child(odd) .web-image-section {
  order: 2;
}

.bg1 {
  background-color: #ffffff;
  border: 15px solid #d7bb8d; /* 顏色及粗細調整 */
  border-radius: 20px;
}

.bg2 {
  background-color: #ffffff;
  border: 15px solid #68483e;
  border-radius: 20px;
}

.bg3 {
  background-color: #ffffff;
  border: 15px solid #d2b496;
  border-radius: 20px;
}

.small-img {
  max-width: 100%;
  height: auto;
}

.align-left {
  justify-content: flex-start; /* 左對齊 */
}

.align-center {
  justify-content: center; /* 水平置中 */
}

.align-right {
  justify-content: flex-end; /* 右對齊 */
}

/* 文字內容動態鍵號 */
.arrow-container {
  display: inline-block;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 5;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 21px solid rgb(113, 124, 158);
  transition: transform 0.3s ease-in-out;
}

.arrow-container:hover .arrow {
  transform: translateX(10px); /* 當鼠標移到箭頭上時產生向右移動的動畫效果 */
}


/* 卡片介紹自動滾動條 */
.card_showline h2 {
  background-color: #a79191d5;
  color: #ffffff; /* 標題顏色 */
  font-size: 35px; /* 標題字體大小 */
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card_carousel, .debitcard_carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fbf3ea;
  padding: 10px 0;
  text-align: center;
  color: #1a180abc;
  font-size: 25px;
  overflow: hidden;
}

.card_carousel a, .debitcard_carousel a {
  text-decoration: none;
  color: var(--fg-color);
  cursor: pointer;
  transition: color 0.3s, font-size 0.3s; 
}

.card_carousel a:hover, .debitcard_carousel a:hover {
  text-decoration: none !important;  
  color:#619897f0;
  font-size: 1.1em;
}

.card_carousel-track-wrapper, .debitcard_carousel-track-wrapper {
  overflow-x: auto; 
  scroll-behavior: smooth;
}

.card_carousel-track, .debitcard_carousel-track {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  /* animation: scroll 70s linear infinite; */
}

.card_carousel-control, .debitcard_carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 13px;
  z-index: 10;
  font-size: 25px;
  font-weight: bold;
}

.card_carousel-control.prev, .debitcard_carousel-control.prev {
  left: 0;
}

.card_carousel-control.next, .debitcard_carousel-control.next {
  right: 0;
}

.card img, .debitcard img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease, filter 0.5s ease; /* Smooth transition for hover effects */
}

.card:hover img, .debitcard:hover img {
  transform: scale(1.1); 
  filter:  brightness(1);  
  opacity: 0.8;
  }

.card {
  display: inline-block;
  min-width: 300px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.debitcard {
display: inline-block;
min-width: 300px;
margin: 0 20px;
cursor: pointer;
position: relative;
overflow: hidden;
}

.card p, .debitcard p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}




/* @keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
} */





