/* 標題&標籤 */

.section-newstitle {
    color: #727272;
    font: 25px/100% Epilogue, sans-serif;
    background-color: #fbf3ea; 
    text-align: center;
    flex-direction: column;
    padding: 0px;
    margin-top: 100px;
    width: 100%;
}

.search-bar {
    margin-bottom: 0px;
    padding: 40px;
    text-align:left;
    color: #000000;
    font-size: 18px;
}

.search-bar input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


/*  main 主要內容區樣式 */
main {
max-width: 1000px;
margin: 0 auto;
padding: 10px;
}

section {
margin-bottom: 40px;
}

/* 信用卡最新資訊區塊 */
.news-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.news-item {
width: 30%;
margin-bottom: 20px;
text-align: center;
/* overflow: hidden; */
}

.news-item h3{
color: #333; /* 標題顏色 */
}

.news-item p {
color: #666; /* 文字顏色 */
/* font-size: 20px;  */
text-align: justify
}

.news-item a {
text-decoration: none;
color: var(--fg-color);
cursor: pointer;
}

.news-item a:hover {
text-decoration: none !important; /* 滑鼠懸停時移除底線 */
color:#378482
/* color:#8f5b4c */
}

.news-item img {
width: 100%;
height: 150px;
cursor: pointer;
}


.zoom-image {
    width: 100%; /* 設置圖片寬度為容器寬度 */
    transition: transform 0.3s ease; /* 設置過渡效果 */
}

.news-item:hover .zoom-image {
    transform: scale(1.1); /* 鼠標懸停時圖片放大1.2倍 */
}




/* 精選文章區塊 */
.book-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.book-item {
width: 30%;
margin-bottom: 20px;
text-align: center;
}


.book-item h3{
color: #333; /* 標題顏色 */
}

.book-item p {
color: #666; /* 文字顏色 */
/* font-size: 20px;  */
text-align: justify;
}


.book-item a {
text-decoration: none;
color: var(--fg-color);
cursor: pointer;
}

.book-item a:hover {
text-decoration: none !important; /* 滑鼠懸停時移除底線 */
color:#378482
}

.book-item img {
width: 100%;
height: 150px; /* 設置統一最小高度 */
cursor: pointer;
/* object-fit: cover; */
}

.book-item h3 a {
color: #333;
text-decoration: none;
}

.book-item h3 a:hover {
text-decoration: underline;
}

/* 頁尾樣式 */
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}



/* 頁碼 */
.pagination a {
    color: #8f5b4c;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #794536;
    margin: 0 4px;
    align-items: center;
}

.pagination a:hover {
    background-color: #8f5b4c;
    color: #fff;
}


/* 返回頂部按鈕的樣式 */
.back-to-top {
    display: none; /* 初始隱藏 */
    position: fixed; /* 固定在頁面 */
    bottom: 30px; /* 離頁面底部20px */
    right: 20px; /* 離頁面右邊20px */
    z-index: 1000; /* 確保按鈕顯示在前面 */
    background-color: #43321e; /* 背景顏色 */
    color: #fff; /* 文字顏色 */
    padding: 10px 15px; /* 内邊距 */
    border: none; /* 無邊框 */
    border-radius: 50px; /* 圓角 */
    cursor: pointer; /* 鼠標變為手指 */
    font-size: 16px; /* 文字大小 */
}
.back-to-top:hover {
    background-color: #896e57; /* 懸停背景顏色 */
}    
    
