/* 頁頭 */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  }
.header {
    background-color: #8f5b4c;
    display: flex;
    width: 100%;
    gap: 16px;
    font-weight: 600;
    padding-inline-start: 5%;
    padding-inline-end: 3%;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center; 
  }

.logo a,
.logo-font a {
  color: #171a1f;
  flex-grow: 1;
  margin: auto 0;
  font-family:Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.logo a:hover,
.logo-font a:hover {
  text-decoration: none; /* 在滑鼠懸停時保持沒有底線 */
}

.nav {
  justify-content: center;
  display: flex;
  gap: 0;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  line-height: 162.5%;
  text-decoration: none;
}

.nav-item {
  justify-content: center;
  display: flex;
  gap: 8px;
  line-height: 5%;
  padding: 25px 12px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  position: relative;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  top: 77%;
  left: 0;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #ffde99; /* 滑鼠懸停時背景顏色 */
}

.active-nav-item {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #ffde99;
  align-items: center; 
}


.active-nav-link {
  font-family: Inter, sans-serif;
}

.active-nav-underline {
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 80%; 
  height: 2px;
  background-color: #ffde99;
  
}

.nav-credit-card {
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 30px 8px;
  font-size: 18px;
}

  
/* 標題&標籤 */

.popular-credit-cards {
  display: flex;
  flex-direction: column;
  padding: 0 0px;
  margin-top: 146px;
  width: 100%;
}

.section-title {
  color: #727272;
  font: 700 64px/131% Epilogue, sans-serif;
  margin: 0 30px;
}

.filter-options {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  color: #a97f7b;
  font-size: 16px;
  font-weight: 400;
  gap: 3px;
  line-height: 16%;
  margin-top: 27px;
  white-space: nowrap;
}

/* 未按下標籤 */
.filter-options .btn {
  background-color: #fff;
  border: 1px solid rgba(169, 127, 123, 1);
  border-radius: 22px;
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 5px 16px;
  font-size: 16px;
  color: #795548;
}

/* 按下標籤 */ 
.filter-options .btn.active {
  background-color: #e5d8d7;
  border: 1px solid rgba(169, 127, 123, 1);
  border-radius: 22px;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  font-size: 16px;
}

/* 內文 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 12px 20px 0;
  padding: 0 1px;
}

.card-image {
  width: 70%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc( 32% - 20px); 
  margin-left: 31px; 
  margin-bottom: 0px; 
}

.card-tags {
  display: flex;
  gap: 4px;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  line-height: 35%;
  background-color: rgba(0, 0, 0, 0);
  align-self: start;
}

.card-tag {
  font-family: Inter, sans-serif;
  justify-content: center;
  border-radius: 22px;
  background-color: #a97f7b;
  padding: 15px 16px;
}

.card-description {
  color: #171a1f;
  text-transform: uppercase;
  margin-top: 35px;
  font: 20px/30px Inter, sans-serif;
}

.card-title {
  font-family: Epilogue, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: rgba(86, 94, 108, 1);
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 頁尾 */

.container-footer {
  width: calc(100% + 16px); /* 調整寬度，彌補左右各 8px 的外邊距 */
  margin: 0 -8px -8px -8px; /* 左右負邊距彌補 body 預設的外邊距，下方負邊距使底部貼邊 */
  margin-top: 47px;
  background: #1e130c;
  background: -webkit-linear-gradient(to left, #9a8478, #1e130c);
  background: linear-gradient(to left, #9a8478, #1e130c); 
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3%; /* 保留內邊距 */
  box-sizing: border-box;
}